<div id="control-panel" class="col-md-3">
  <div class="panel panel-default panel-transparent">
    <div class="panel-heading">
      {{t "grid panel"}}
      <span id="mouse-grid"></span>
    </div>

    <div class="panel-body">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-xs-5">
          <img id="grid-lord-avatar">
          <div>
            <span id="grid-owner"></span>
          </div>
        </div>

        <div class="col-xs-7">
          <div>
            <label>
              {{t "longitude"}}
            </label>
            <span id="mouse-lon"></span>
          </div>
          <div>
            <label>
              {{t "latitude"}}
            </label>
            <span id="mouse-lat"></span>
          </div>
          <div>
            <label>
              {{t "grid status"}}
            </label>
            <span id="grid-status"></span>
          </div>
          <div>
            <label>{{t "current price"}}</label>
            <span id="oper-grid-price"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-transparent">
    <div class="panel-heading">
      <!-- <label for="firstname" class="col-sm-4 control-label">{{t "operation board"}}</label> -->
      <div class="col-sm-12 input-group">
        <input type="number" class="form-control" placeholder='{{t "enter grid index"}}'
          name="grid-idx">
        <span id="search-grid" class="input-group-addon success">
          <span class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
      <div class="input-group"></div>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-xs-5">
          <img id="selected-grid-avatar">
        </div>
        <div class="col-xs-7">              
          <div>
            <label>
              {{t "grid status"}}
            </label>
            <span id="selected-grid-status"></span>
          </div>
          <div>
            <label>{{t "current price"}}</label>
            <span id="selected-grid-price"></span>
          </div>

          <div class="row">
              <a id="buy-grid-btn" class="button button-small button-primary button-pill">{{t "BUY"}}</a>
              <a id="sell-grid-btn" class="button button-small button-primary button-pill">{{t "SELL"}}</a>
          </div>
        </div>
      </div>
    </div>

    <div id="oper-grid" class="panel-body">
      <div class="panel-body">
        <div class="form-group">
          <div id="grid-avatar" class="avatar-upload">
            <img>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-transparent">
    <div class="panel-heading">
      {{t "starship"}}
    </div>
    <div class="panel-body">

    </div>
  </div>
</div>
