<div class="col-md-2">
  <div class="panel panel-default panel-transparent">
    <div class="panel-heading">
      <span>
        {{t "status"}}
      </span>
      <div class="pull-right">
        <a class="button button-tiny button-circle" data-toggle="collapse" data-target="#galaxy-status-panel">
          <i class="fa fa-angle-double-down"></i>
        </a>
        
      </div>
    </div>

    <div id="galaxy-status-panel" class="panel-body collapse in" aria-expanded="true">
      <!--
        <div>
          <label>{{t "contract"}}</label>
          <span id="status-contract"></span>
        </div>
      -->
      <div>
        <label>{{t "grids count"}}</label>
        <span id="status-total-grids"></span>
      </div>
      <div>
        <label>{{t "sold"}}</label>
        <span id="status-sold-grids"></span>
      </div>
      <div>
        <label>{{t "fee"}}</label>
        <span id="status-tran-fee"></span>
      </div>
      <div>
        <label>{{t "min price"}}</label>
        <span id="status-min-price"></span>
      </div>
      <div>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input id="check-show-grids" type="checkbox" checked data-toggle="toggle">
              {{t "reveal grids"}}
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox-inline">
            <input id="check-show-mark" type="checkbox" checked data-toggle="toggle">
              {{t "reveal mark"}}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-transparent">
    <div class="panel-heading">
      <span id="player-address">
        {{t "finding..."}}
      </span>
      <div class="pull-right">
        <a id="player-refresh" class="button button-tiny button-circle"><i class="fa fa-refresh"></i></a>
      </div>
      <!-- <span class="glyphicon glyphicon-screenshot pull-right clickable" id="player-location"></span> -->
      <!-- <span class="glyphicon glyphicon-refresh pull-right clickable" id="player-refresh"></span> -->
    </div>

    <div class="panel-body">
      <div id="player-avatar" class="avatar-upload">
        <img>
      </div>
      <div>
        <label>
          {{t "earns"}}
        </label>
        <span id="player-earns"></span>
        <div class="pull-right">
          <a id="player-claim" href="#" class="button button-small button-glow button-highlight">{{t "claim"}}</a>
        </div>
        <!--
        <button id="player-claim" class="btn btn-primary">
          {{t "claim"}}
        </button>
        -->
      </div>

      <div>
        <label>
          {{t "owned grids"}}
        </label>
        <span id="player-grids-count"></span>
        <select id="player-grids-list" class="form-control"xs></select>
      </div>
    </div>
  </div>
</div>
