<canvas id="canvas"></canvas>

<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test</a>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#" id="network"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Language
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">中文</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    {{t "status"}}
                </div>

                <div class="panel-body">
                    <!--
                    <div>
                        <label>{{t "contract"}}</label>
                        <span id="status-contract">

                        </span>
                    </div>
                    -->
                    <div>
                        <label>{{t "grids count"}}</label>
                        <span id="status-total-grids">

                            </span>
                    </div>
                    <div>
                        <label>{{t "sold"}}</label>
                        <span id="status-sold-grids">

                            </span>
                    </div>
                    <div>
                        <label>{{t "fee"}}</label>
                        <span id="status-tran-fee">

                            </span>
                    </div>
                    <div>
                        <label>{{t "min price"}}</label>
                        <span id="status-min-price">

                            </span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input id="check-show-grids" type="checkbox" checked data-toggle="toggle"> {{t "reveal grids"}}
                            </label>
                        </div>                        
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input id="check-show-mark" type="checkbox" checked data-toggle="toggle"> {{t "reveal mark"}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-transparent">

                <div class="panel-body">
                    <div>
                                <div>
                                    <label>
                                        {{t "longitude"}}
                                    </label>
                                    <span id="mouse-lon">

                                    </span>
                                </div>
                        <div>
                                    <label>
                                        {{t "latitude"}}
                                    </label>
                                    <span id="mouse-lat">

                                    </span>
                                </div>
                    </div>

                    <div>
                        <label>
                            {{t "grid"}}
                        </label>
                        <span id="mouse-grid">

                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="galaxy" class="col-md-7">

        </div>

        <div id="control-panel" class="col-md-3">


            <div class="panel panel-default panel-transparent">

                <div class="panel-heading">
                    {{t "player status"}}
                </div>
                <div class="panel-body">
                    <div>
                        <label>
                            address
                        </label>
                        <div id="player-address">

                        </div>
                    </div>

                    <div>
                        <label>
                            {{t "owned grids"}}
                        </label>
                        <div id="player-grids-count">

                        </div>
                    </div>

                    <div>
                        <label>
                            {{t "earns"}}
                        </label>
                        <div id="player-earns">

                        </div>
                    </div>

                    <div>
                        <label>
                            your grids
                        </label>
                        <select id="player-grids-list"></select>
                    </div>

                    <div>
                        <button class="btn btn-info" id="player-location">My position</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    {{t "operation board"}}
                </div>
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <label for="grid-idx">
                                Grid index
                            </label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="grid-idx">
                                <span id="search-grid" class="input-group-addon success"><span
                                        class="glyphicon glyphicon-ok"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label>{{t "current owner"}}</label>
                                <span id="oper-grid-owner"></span>
                            </div>

                            <div>
                                <label>{{t "current state"}}</label>
                                <span id="oper-grid-state"></span>
                            </div>
                            <div>
                                <label>{{t "current price"}}</label>
                                <span id="oper-grid-price"></span>
                            </div>
                        </div>

                        <div id="buy-grid" class="form-group">
                            <button id="buy-grid-btn" class="btn btn-success col-xs-12">Buy this grid</button>
                        </div>

                        <div id="sell-grid" class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" name="grid-sell-price">
                                <span class="input-group-addon">ETH</span>
                            </div>
                            <br/>
                            <button id="sell-grid-btn" class="btn btn-danger col-xs-12">Sell this grid</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="cesium/Cesium.js"></script>
<script src="javascripts/index.js"></script>
<script src="javascripts/Earth.js"></script>
<script src="javascripts/contract.js"></script>
<script src="javascripts/grids.js"></script>
<script src="javascripts/AppSkeleton.js"></script>
