<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="/javascripts/avatar.css">
<style>
    @import url(cesium/Widgets/widgets.css);

    #galaxy {
        height: 700px;
    }
</style>
<canvas id="canvas"></canvas>

<nav class="navbar navbar-galaxy" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EEGalaxy</a>
        </div>
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="network"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{t "contract"}}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{t "language"}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">English</a></li>
                        <li><a href="#">中文</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    {{t "status"}}
                </div>

                <div class="panel-body">
                    <!--
                    <div>
                        <label>{{t "contract"}}</label>
                        <span id="status-contract">

                        </span>
                    </div>
                    -->
                    <div>
                        <label>{{t "grids count"}}</label>
                        <span id="status-total-grids">

                            </span>
                    </div>
                    <div>
                        <label>{{t "sold"}}</label>
                        <span id="status-sold-grids">

                            </span>
                    </div>
                    <div>
                        <label>{{t "fee"}}</label>
                        <span id="status-tran-fee">

                            </span>
                    </div>
                    <div>
                        <label>{{t "min price"}}</label>
                        <span id="status-min-price">

                            </span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input id="check-show-grids" type="checkbox" checked data-toggle="toggle"> {{t "reveal grids"}}
                            </label>
                        </div>                        
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input id="check-show-mark" type="checkbox" checked data-toggle="toggle"> {{t "reveal mark"}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-transparent">

                <div class="panel-heading">
                    {{t "player board"}} 

                    <span class="glyphicon glyphicon-screenshot" id="player-location"></span>

                </div>
                <div class="panel-body">
                    <div class="avatar-upload">
                		<img src="placekitten.jpg">
                	</div>
                    <div>
                        
                    </div>
                    <div>
                        <label>
                            address
                        </label>
                        <span id="player-address">

                        </span>
                    </div>

                    

                    <div>
                        <label>
                            {{t "earns"}}
                        </label>
                        <span id="player-earns">

                        </span>
                        <button id="player-claim" class="btn btn-primary">
                            {{t "claim"}}
                        </button>
                    </div>

                    <div>
                        <label>
                            {{t "owned grids"}}
                        </label>
                        <span id="player-grids-count">

                        </span>
                        <select id="player-grids-list" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div id="galaxy" class="col-md-7">

        </div>

        <div id="control-panel" class="col-md-3">
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    {{t "grid status"}} 
                </div>
                <div class="panel-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div>
                                    <label>
                                        {{t "longitude"}}
                                    </label>
                                    <span id="mouse-lon">

                                    </span>
                                </div>
                        </div>
                         <div class="col-xs-6">
                             <div>
                                    <label>
                                        {{t "latitude"}}
                                    </label>
                                    <span id="mouse-lat">

                                    </span>
                                </div>
                        </div>                       
                    </div>
                    <div>
                        <label>
                            {{t "grid"}}
                        </label>
                        <span id="mouse-grid">

                            </span>
                    </div>
                </div>
            </div>

            
            <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
                    {{t "operation board"}}
                </div>
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <label for="grid-idx">
                                Grid index
                            </label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="grid-idx">
                                <span id="search-grid" class="input-group-addon success"><span
                                        class="glyphicon glyphicon-ok"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label>{{t "current owner"}}</label>
                                <span id="oper-grid-owner"></span>
                            </div>

                            <div>
                                <label>{{t "current state"}}</label>
                                <span id="oper-grid-state"></span>
                            </div>
                            <div>
                                <label>{{t "current price"}}</label>
                                <span id="oper-grid-price"></span>
                            </div>
                        </div>

                        <div id="buy-grid" class="form-group">
                            <button id="buy-grid-btn" class="btn btn-success col-xs-12">Buy this grid</button>
                        </div>

                        <div id="sell-grid" class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" name="grid-sell-price">
                                <span class="input-group-addon">ETH</span>
                            </div>
                            <br/>
                            <button id="sell-grid-btn" class="btn btn-danger col-xs-12">Sell this grid</button>
                        </div>

                        <div id="oper-grid" class="form-group">

                            <!--
                            <div class="input-group">
                                <input id="grid-label" type="text" placeholder='{{t "set grid label"}}' maxlength="10" class="form-control">
                                <span id="set-grid-label" class="input-group-addon">{{t "SET"}}</span>
                            </div>
                            -->

                            <div class="input-group">
                                <input id="grid-picture" type="url" placeholder='{{t "set grid picture"}}' class="form-control">
                                <span id="set-grid-picture" class="input-group-addon">{{t "SET"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript">
    window.CESIUM_BASE_URL = '/cesium'
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script> -->
<!-- <script src="/bower/bootstrap-fileinput/js/fileinput.js"></script> -->
<script src="/javascripts/avatar.js"></script>
<script src="/cesium/Cesium.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/webpack-cesium/1.37.0/webpack.cesium.js"></script> -->
<script src="javascripts/index.js"></script>
<script src="javascripts/Earth.js"></script>
<script src="javascripts/contract.js"></script>
<script src="javascripts/grids.js"></script>
<script src="javascripts/AppSkeleton.js"></script>
